@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-color: #0961F5;
    --hover-main-color: #0044ba;
    --transparent-main-color: #0960f519;
    --primary-color: #FFFFFF;
    --secondary-color: #EBEBEB;
    --active-sidebar: #EEEEEE;
    --danger-color: rgb(254, 95, 95);
}

*,
::after,
::before {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body {
    font-family: "Tajawal", sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

.error {
    font-size: 13px;
    color: red;
}

/* Layout for admin dashboard skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: var(--primary-color);
    transition: all 0.35s ease-in-out;
}

.fa-xmark {
    display: none;
}

.img-logo {
    width: 65px;
}

main {
    background-color: var(--secondary-color);
    min-height: calc(100vh - 73px);
    padding: 1.8rem;

}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

/* Sidebar Elements Style */

.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
    margin-top: 15px;
}

.sidebar-nav-footer {
    padding: 0 30px;
}

.sidebar-item {
    position: relative;
    font-size: .90rem;
    font-weight: 500;
    padding: .9rem 1.5rem;
    border-radius: 9px;
    text-decoration: none;
    transition: .3s;
    color: black;
}

.sidebar-item:hover {
    color: var(--main-color);
    background-color: var(--active-sidebar);
}

.sidebar-item.logout {
    color: var(--danger-color);
    border: none;
    background-color: transparent;
    width: 100%;
}

.sidebar-item.logout:hover {
    color: red;
    background-color: var(--active-sidebar);
}

.sidebar-item.active {
    background-color: var(--active-sidebar);
    color: var(--main-color);
}

.sidebar-item .arrow-sidebar {
    background-image: url('../imgs/arrow-down-sign-to-navigate\ black.png');
    background-size: 14px;
    position: absolute;
    width: 17px;
    height: 17px;
    flex: end;
    left: 17px;
    background-repeat: no-repeat;
    bottom: 15px;
    transition: .2s;
}

.sidebar-item:hover .arrow-sidebar {
    background-image: url('../imgs/arrow\ main-color.svg');
}

/* start sub menu */

.control-hide {
    cursor: pointer;
}

.submenu {
    transition: height 0.3s ease;
    height: 0;
    margin-left: 37px;
    position: relative;
    padding-left: 16px;
    padding-top: 10px;
}

.submenu .border-left {
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: #c9c9c9;
    margin-right: 10px;
    right: 10px;
    top: calc(20% / 2);
    border-radius: 15px;
}

.submenu li {
    font-size: 15px;
    list-style: none;
    margin-bottom: 4px;
    border-radius: 8px;
    font-weight: 500;
    transition: .2s;
}

.submenu li:hover {
    background-color: var(--secondary-color);
}

.submenu li a {
    text-decoration: none;
    color: black;
    transition: .2s;
    width: 100% !important;
    display: block;
    padding: 2px 11px;
    ;
}

.submenu li:hover a {
    color: var(--main-color);
}

.submenu li.active {
    background-color: var(--secondary-color);
}

.submenu li.active a {
    color: var(--main-color);
}

.submenu.hide {
    display: none;
}

.submenu-title {
    transition: .2s;
}

.submenu-title.grey-hover-bg:before {
    width: 0px;
}

.submenu-title.grey-hover-bg:hover:before {
    width: 100%;
}

.submenu-title:hover {
    color: #0085DB !important;
}

/* end sub menu */

.avatar {
    height: 47px;
    width: 47px;
    object-fit: cover;
    border-radius: 100%;
}

.navbar {
    background-color: var(--primary-color);
    height: 73px;
}

.navbar-expand .navbar-nav {
    margin-right: auto;
}

/* profile detils nav  */
.profile-nav {
    margin-right: 10px;
}

.profile-nav .name-nav {
    font-size: 18px;
    font-weight: 500;
}

.profile-nav .name-job {
    font-size: 11px;
    margin-top: -4px;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

.card {
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

.illustration {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}

.illustration-img {
    max-width: 150px;
    width: 100%;
}

/* Sidebar Toggle */

#sidebar.collapsed {
    margin-right: -264px;
}

/* Footer and Nav */

@media (max-width:767.98px) {

    .js-sidebar {
        margin-right: -264px;
        position: fixed;
        z-index: 100;
        height: 100vh;
    }

    #sidebar.collapsed {
        margin-right: 0;
    }

    .fa-xmark {
        display: block;
    }

    .navbar,
    footer {
        width: 100vw;
    }

    .search {
        display: none;
    }

    .search-sidebar {
        width: fit-content !important;
        margin: auto;
        display: block !important;
    }

    .search-box {
        margin: 0 !important;
    }

    .input-search:focus {
        width: 222px !important;
    }

    .input-search {
        width: 222px !important;
        /* font-size: 15px !important; */
    }
}


/*start search input*/

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: 10px;
}

.input-search {
    height: 40px;
    width: 40px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--transparent-main-color);
    padding-right: 30px;
    color: black;
    transition: 0.2s;
}

.fa-search {
    color: var(--main-color);
    transition: .2s;
    font-size: 19px;
}

.fa-search:hover {
    color: var(--hover-main-color);
}

.input-search::placeholder {
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn-search {
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    color: black;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 245px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 245px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/*end search input*/

/* notification-bell */

.notification-bell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--transparent-main-color);
    text-decoration: none;
    margin-left: 25px;
}

.notification-bell i {
    color: var(--main-color);
    font-size: 19px;
    font-weight: 500;
    transition: .2s;
}

.notification-bell i:hover {
    color: var(--hover-main-color);
}

/* notification-bell */

/* start style home page  */

.welcome .text-welcome {
    margin-left: 8px;
}

.welcome .img-welcome {
    width: 48px;
}

.welcome .text-what {
    margin: -5px 0;
    color: #878787;
}

/* end style home page  */

/* start style login */

/* start slider */

.slider {
    width: 700px;
    max-width: 700px;
    height: 370px;
    margin: 0 50px;
    position: relative;
    overflow: hidden;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list img {
    width: 550px;
    max-width: 100vw;
    height: 100%;
    object-fit: contain;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff1f;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #2563eb87;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}

@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}

/* end slider */

.images-login {
    background-color: #2563eb87;
}

/* .login .title {
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 0;
    left: calc(50% / 6);
} */

.content-login {
    width: 450px;
}

.input {
    font-size: 17px;
    color: black;
    background-color: #efefef;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 9px 20px;
    width: 100%;
    transition: .4s;
}

.input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
}

.label {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 8px;
}

.content-login .welcome {
    font-weight: 600;
    margin: 0;
}

.content-login .logo {
    font-family: "Concert One", sans-serif;
    margin: 0;
}

.content-login .welcome {
    font-size: 45px;
}

.content-login .logo {
    font-size: 28px;
    margin-top: -5px;
}

.content-login .logo span {
    color: var(--main-color);
}

.forget-password {
    text-decoration: none;
    font-size: 15px;
    margin: 10px 0;
    display: block;
    color: var(--main-color);
    transition: .2s;
    font-weight: 500;
}

.forget-password:hover {
    color: #003cbe;
}

.primary-btn {
    padding: 12px;
    background-color: rgb(51, 51, 51);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: .2s;
    text-decoration: none;
}

.primary-btn:hover {
    background-color: black;
}

.password__icon {
    position: absolute;
    left: 15px;
    bottom: 8px;
}

.fa-solid.eye {
    transition: .2s;
}

.fa-solid.eye:hover {
    color: #003cbe !important;
}

/* end style login */


/* start style add subject page  */

.add-subject {
    padding: 0;
}

.title-add-subject {
    font-size: 28px;
    background-color: var(--main-color);
    width: fit-content;
    padding: 10px 34px;
    border-bottom-left-radius: 44px;
    color: white;
}

.select-input {
    border: none;
    padding: 12px 15px;
    appearance: none;
    color: var(--main-color);
    background-color: #0960f50a;
    border-radius: 7px;
}

.select-input::placeholder {
    color: var(--main-color);
}

.select-input:focus,
.text-input:focus {
    outline: none;
}

.arrow-input {
    background-image: url('../imgs/arrow\ main-color.svg');
    position: absolute;
    left: 10px;
    top: 47px;
    width: 17px;
    height: 17px;
    background-size: 15px;
}

.label-input {
    font-size: 16px;
}

.text-input {
    display: block;
    border: none;
    width: 100%;
    padding: 8px 15px;
    color: black;
    background-color: var(--secondary-color);
    border-radius: 5px;
    font-size: 16px;
    border: 1.5px solid rgb(172, 172, 172);
    transition: .2s;
}

.text-input:focus {
    border-color: var(--main-color);
    background-color: var(--transparent-main-color);
}

.primary-btn {
    border: none;
    padding: 12px 15px;
    font-size: 17px;
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: .2s;
    font-weight: 500;
}

.primary-btn:hover {
    background-color: var(--hover-main-color);
}

/* end style add subject page  */


/* start style show subjects page  */

.btn-add {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    border: 2px solid black;
    width: fit-content;
    border-radius: 5px;
    transition: .2s;
}

.btn-add:hover {
    letter-spacing: 2px;
    color: white;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-add:active {
    letter-spacing: 2px;
    color: white;
    background-color: var(--main-color);
}

.subject {
    min-height: 230px;
}

.subject .subject-child {
    height: 100%;
}

.img-subject {
    width: 50%;
    height: 100%;
}

.desc-subject {
    width: 50%;
    position: relative;
}

.img-subject img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.btn-delete {
    position: absolute;
    left: 10px;
    top: 10px;
}

.btn-delete button {
    border: none;
    background-color: white;
    padding: 7px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: var(--main-color);
    font-size: 1.2rem;
    transition: .2s;
}

.btn-delete button:hover {
    transform: scale(1.1);
    color: var(--danger-color);
}


.title-subject {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sub-title-subject {
    font-size: 12px;
    color: rgb(120, 120, 120);
    margin-bottom: 7px;
}

.btn-show-subject {
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
    text-align: center;
    width: 100%;
}

.btn-show-subject a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid var(--main-color);
    padding: 5px 0;
    display: block;
    border-radius: 3px;
    color: var(--main-color);
    transition: .2s;
}

.btn-show-subject a:hover {
    background-color: var(--main-color);
    color: white;
}

/* end style show subjects page  */


/* start style view subject page  */

.label-text {
    font-size: 15px;
    color: #646464;
    margin-bottom: 0;
}

.content-text {
    font-size: 20px;
    font-weight: 500;
}

.img-xs-view {
    width: 100%;
}

.img-xs-view img {
    width: 100%;
    object-fit: cover;
}

.img-subject-view {
    width: 100%;
    height: 100%;
}

.img-subject-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price-subject {
    font-weight: 500;
    color: var(--main-color);
}

.num-quiz {
    font-size: 16px;
    font-weight: 500;
    background-color: var(--transparent-main-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.link-view {
    text-decoration: none;
    font-weight: 500;
}

/* end style view subject page  */

/* start style add quiz  */

.content-add-quiz {
    border: 2px solid rgb(172, 172, 172);
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}

.title-add-quiz {
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--main-color);
    border-bottom: 1px solid rgb(193, 193, 193);
    background-color: var(--secondary-color);
    margin: 0;
}

.main-add-quiz {
    padding: 16px 15px;
    border-bottom: 1px solid rgb(193, 193, 193);
}

.main-add-quiz .title {
    font-size: 1.1rem;
    font-weight: 500;
}

.footer-add-quiz {
    padding: 8px 15px;
}

.footer-add-quiz .name-quiz {
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    font-weight: 500;
}

.status-quiz {
    margin-bottom: 0;
    margin-right: 30px;
    background-color: #0085DB;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: 500;
}

.status-quiz.active {
    color: green;
    background-color: rgba(0, 128, 0, 0.167);
}

.add-question {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
    transition: .2s;
}

.add-question div {
    width: 24px;
    height: 24px;
    background: rgb(0, 214, 0);
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: .2s;
}

.add-question div i {
    color: white;
    font-size: 15px;
}

.add-question:hover {
    color: var(--main-color);
    letter-spacing: 2px;
}

.add-question:hover div {
    background-color: var(--main-color);
    letter-spacing: 0px;
}

/* end style add quiz  */

/* start style show quizs  */

.table-show-quizs {
    border: 2px solid rgb(172, 172, 172);
    border-radius: 8px;
    overflow: auto;
    background-color: white;
    max-height: 1000px;
}

.table-show-quizs::-webkit-scrollbar {
    width: .2rem;
    height: .2rem;
}

.table-show-quizs::-webkit-scrollbar-track {
    background-color: transparent;
}

.table-show-quizs::-webkit-scrollbar-thumb {
    background-color: #0960f55e;
}

.table-show-quizs .header-table {
    background-color: var(--secondary-color);
    border-bottom: 1px solid rgb(193, 193, 193);
    position: sticky;
    top: 0;
}

.table-show-quizs .header-table th,
.table-show-quizs .body-table td {
    padding: 15px 16px;
}

.delete-btn,
.edit-btn {
    border: 0;
    background-color: transparent;
    font-size: 18px;
}

.delete-btn i,
.edit-btn i {
    color: var(--danger-color);
    transition: .2s;
}

.delete-btn i:hover {
    color: red;
}

.edit-btn i {
    color: rgb(80, 251, 80);
}

.edit-btn i:hover {
    color: rgb(0, 221, 0);
}

/* end style show quizs  */

/* start style add question  */

.content-add-question,
.content-show-question {
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 10px;
    padding: 15px 16px;
}

/* radio button */

.radio-buttons-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 4px;
    position: relative;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked+.radio-button__label .radio-button__custom {
    transform: translateY(-50%) scale(0.9);
    border: 5px solid #4c8bf5;
    color: #4c8bf5;
}

.radio-button__input:checked+.radio-button__label {
    color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
    transform: translateY(-50%) scale(1.2);
    border-color: #4c8bf5;
    box-shadow: 0 0 10px #4c8bf580;
}

/* Style when the radio button is checked and the corresponding text input */
#radio1:checked+.radio-button__label+.option.one {
    border-color: var(--main-color);
    background-color: var(--transparent-main-color);
}

#radio2:checked+.radio-button__label+.option.two {
    border-color: var(--main-color);
    background-color: var(--transparent-main-color);
}

#radio3:checked+.radio-button__label+.option.three {
    border-color: var(--main-color);
    background-color: var(--transparent-main-color);
}

#radio4:checked+.radio-button__label+.option.four {
    border-color: var(--main-color);
    background-color: var(--transparent-main-color);
}

/* radio button */

.content-show-question {
    padding: 15px 16px;
}

.question {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    max-height: 3em;
    /* Adjust based on the line height (2 lines * 1.5 line height, for example) */
    line-height: 1.5em;
    /* Adjust this value based on your font size */
}

/* end style add question  */

/* start style myprofile */

.user-profile .info {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
}

.user-profile .info .user {
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: 2px solid #8b8b8b57;
}

.user-profile .info .user .image-profile {
    position: relative;
    margin-right: 20px;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.user-profile .info .user .image-profile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.user-profile .info .user .image-profile i {
    position: absolute;
    font-size: 15px;
    right: 0;
    bottom: 0;
    padding: 5px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    opacity: 0;
    transition: .2s;
}

.user-profile .info .user .image-profile img:hover+i {
    opacity: 1;
}

.user-profile .info .user h3 {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 600;
}

.user-profile .info .user p {
    font-size: 1.7rem;
    color: var(--light-color);
    padding-bottom: .3rem;
}

.user-profile .profile-details {
    padding: 1rem;
}

.user-profile .profile-details .title-information {
    font-size: 2rem;
    color: var(--black);
}

.user-profile .profile-details .information {
    margin-top: 3px;
    padding: .8rem;
    border: 1px solid var(--light-color);
    border-radius: 5px;
    color: var(--light-color);
}

.user-profile .profile-details .information i {
    font-size: 2.5rem;
}

.user-profile .profile-details .information p {
    font-size: 1.5rem;
}

.user-profile .edit-border {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    padding-bottom: 20px;
}

.user-profile .edit-border div:first-child {
    width: 5%;
    height: 1px;
    background-color: var(--black);
}

.user-profile .edit-border div:nth-child(2) {
    color: var(--main-color);
    font-size: 1.6rem;
    margin: 0 8px;
}

.user-profile .edit-border div:last-child {
    width: 60%;
    height: 1px;
    background-color: var(--black);
}



/* end style myprofile */

@media (min-width:768px) {
    .label-text {
        font-size: 15px;
    }

    .content-text {
        font-size: 20px;
    }
}

@media (max-width:576px) {

    .view-subject {
        padding: 0 !important;
    }

    .label-text {
        font-size: 13px;
    }

    .content-text {
        font-size: 16px;
    }

    .content-view {
        padding: 25px 48px;
        margin-top: -52px;
        background-color: var(--secondary-color);
        border-radius: 100px;
    }

    .footer-add-quiz {
        display: block !important;
        margin-bottom: 10px;
    }

    .quiz,
    .parent-show-quizs,
    .content-question {
        padding: 2rem !important;
    }
}